name: Spawn Blockscout

on:
  workflow_dispatch:
    inputs:
      timeout_minutes:
        description: "Timeout for jobs"
        required: true
        default: "5"
      workers:
        description: "Workers"
        required: false
        default: "[\"flux\"]"

jobs:
  integration:
    name: Integration internal test
    timeout-minutes: ${{ fromJSON(inputs.timeout_minutes) }}
    # Use the matrix variable here
    runs-on: ${{ matrix.runner }}

    strategy:
      # If one runner fails, the others will still finish their tests
      fail-fast: false
      matrix:
        runner: ${{ fromJSON(inputs.workers) }}

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      # Already installed on custom runners
      #- name: Install bun
      #  uses: oven-sh/setup-bun@v2

      # Already installed on custom runners
      #- name: Get foundry cli
      #  run: |
      #    set -x
      #    curl -sL https://github.com/foundry-rs/foundry/releases/download/v1.5.1/foundry_v1.5.1_linux_amd64.tar.gz | tar -xz
      #    sudo mv forge cast anvil chisel /usr/local/bin/
      #    forge --version
      #    chisel --version
      #    cast --version
      #    anvil --version

      # Also already installed, uncomment if update needed
      #- name: Get op-geth, op-node and op-deployer binaries
      #  env:
      #    GH_TOKEN: ${{ github.token }}
      #  run: |
      #    set -x
      #    gh release download v0.0.0 \
      #      --repo salad-x-golem/arkiv-setup \
      #      --pattern "optimism-binaries-2026-01-22.tar.xz"
      #    tar -xJf optimism-binaries-2026-01-22.tar.xz
      #    mv op-deployer /usr/local/bin
      #    mv op-geth /usr/local/bin
      #    mv op-node /usr/local/bin
      #    op-geth version
      #    op-node --version
      #    op-deployer --version

      - name: Start Blockscout
        run: |
          cd blockscout
          docker compose up --build -d
          sleep infinity

      - name: Stop services
        if: always()
        run: |
          cd blockscout
          docker compose down
          docker volume prune -f
