name: Internal test

on:
  push:
  workflow_dispatch:

jobs:
  integration:
    name: Integration internal test
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Prepare
        run: |
          pip install eth_account

      # - name: Get foundry cli
      #   run: |
      #     curl -sL https://github.com/foundry-rs/foundry/releases/download/v1.5.1/foundry_v1.5.1_linux_amd64.tar.gz | tar -xz
      #     ./forge --version
      #     ./chisel --version
      #     ./cast --version
      #     ./anvil --version

      - name: Install geth
        run: |
          sudo apt-get update
          sudo apt-get install -y software-properties-common
          sudo add-apt-repository -y ppa:ethereum/ethereum
          sudo apt-get update
          sudo apt-get install -y ethereum
          geth version

      - name: Run L2 node
        run: |
          python -u generate-genesis.py 5
          ./init_geth-l2.sh
          ./start_geth-l2.sh
        env:
          ARKIV_SQLITE_DATA_DIRECTORY: ./arkiv_data

      - name: Show balances of main accounts
        run: |
          python show-account-values.py

      - name: Build and run integration tests
        run: |
          bun install 
          bun write_example.ts

      - name: Stop Arkiv node
        if: always()
        run: |
          pkill arkiv

      - name: Check sqlite file
        if: always()
        run: |
          sqlite3 arkiv_data/golem-base.db "PRAGMA wal_checkpoint(TRUNCATE);"

      - name: Compress Arkiv logs
        if: always()
        run: |
          tar -cf arkiv-logs.tar.gz arkiv_data

      - uses: actions/upload-artifact@v5
        with:
          name: arkiv-data
          path: arkiv-logs.tar.gz
