name: Internal test

on:
  push:
  workflow_dispatch:

jobs:
  integration:
    name: Integration internal test
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Op Geth
        run: |
          wget https://github.com/salad-x-golem/arkiv-setup/releases/download/v0.0.0/geth
          chmod +x geth
          ./geth version
