name: Internal test

on:
  push:
  workflow_dispatch:

jobs:
  integration:
    name: Integration internal test
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Op Geth
        run: |
          wget -q https://github.com/salad-x-golem/arkiv-setup/releases/download/v0.0.0/geth
          chmod +x geth
          ./geth version

      - name: Run geth node
        run: |
          ./start_geth.sh
        env:
          GETH_SQLITE_DATA_DIRECTORY: ./gethdata

      - name: Stop geth node
        if: always()
        run: |
          pkill geth

      - name: Check sqlite file
        if: always()
        run: |
          cd gethdata
          sqlite3 golem-base.db "PRAGMA wal_checkpoint(TRUNCATE);"

      - name: Compress geth logs
        if: always()
        run: |
          tar -cf geth-logs.tar.gz gethdata

      - uses: actions/upload-artifact@v5
        with:
          name: geth-data
          path: geth-logs.tar.gz
