name: Internal test

on:
  push:
  workflow_dispatch:

jobs:
  integration:
    name: Integration internal test
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Op Geth
        run: |
          wget -q https://github.com/salad-x-golem/arkiv-setup/releases/download/v0.0.0/geth
          chmod +x geth
          ./geth version

      - name: Run geth node
        run: |
          ./geth --dev --http --http.api 'eth,web3,net,debug,arkiv' \
            --verbosity 3 \
            --http.addr '0.0.0.0' \
            --http.port 8545 \
            --http.corsdomain '*' \
            --http.vhosts '*' \
            --ws --ws.addr '0.0.0.0' --ws.port 8545 \
            --datadir ./golembase_sqlite
