name: Internal test

on:
  push:
  workflow_dispatch:

jobs:
  integration:
    name: Integration internal test
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Get foundry cli
        run: |
          set -x
          curl -sL https://github.com/foundry-rs/foundry/releases/download/v1.5.1/foundry_v1.5.1_linux_amd64.tar.gz | tar -xz
          sudo mv forge cast anvil chisel /usr/local/bin/
          forge --version
          chisel --version
          cast --version
          anvil --version

      - name: Generate genesis files
        run: |
          python -u generate-genesis.py 5

      - name: Get op-geth, op-node and op-deployer binaries
        run: |
          set -x
          curl -sL https://github.com/salad-x-golem/arkiv-setup/releases/download/v0.0.0/optimism-binaries-2026-01-22.tar.xz | tar -xJ
          mv op-deployer /usr/local/bin
          mv op-geth /usr/local/bin
          mv op-node /usr/local/bin
          op-geth version
          op-node --version
          op-deployer --version

      - name: Run anvil
        run: |
          anvil --init anvil-chain.json -p 15900 &

      - name: Experiment
        run: |
          # Initialize the deployment intent
          op-deployer init --l1-chain-id 31337 --l2-chain-ids 42069 --workdir deploy-config --intent-type custom
          python generate-intent.py
          op-deployer apply --l1-rpc-url http://localhost:15900 --private-key 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 --workdir deploy-config
          op-deployer inspect genesis --workdir deploy-config 42069 > genesis.json
          op-deployer inspect rollup --workdir deploy-config 42069 > rollup.json
          op-geth --datadir ./l2-data init genesis.json
          openssl rand -hex 32 > jwt.txt

      - name: Prepare L2 node
        run: |
          op-geth \
            --datadir ./l2-data \
            --http \
            --http.port 8545 \
            --http.api "eth,net,engine,web3,debug" \
            --authrpc.addr "localhost" \
            --authrpc.port 8551 \
            --authrpc.vhosts "*" \
            --authrpc.jwtsecret jwt.txt \
            --syncmode=full \
            --gcmode=archive \
            --nodiscover \
            --networkid=42069 \
            2>&1 | tee "op-geth.log" &

          op-node \
            --l2=http://localhost:8551 \
            --l2.jwt-secret=jwt.txt \
            --sequencer.enabled \
            --sequencer.l1-confs=0 \
            --verifier.l1-confs=0 \
            --rpc.addr=0.0.0.0 \
            --rpc.port=8547 \
            --p2p.disable \
            --l1=http://localhost:15900 \
            --l1.rpckind=basic \
            --rollup.config=rollup.json \
            --rollup.l1-chain-config anvil-chain.json \
            --p2p.sequencer.key=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 \
            --l1.beacon.ignore \
            2>&1 | tee "op-node.log" &

      #- name: Run L2 node
      #  run: |
      #    python -u generate-genesis.py 5
      #    ./init_geth-l2.sh
      #    ./start_geth-l2.sh
      #  env:
      #    ARKIV_SQLITE_DATA_DIRECTORY: ./arkiv_data

      #- name: Show balances of main accounts
      #  run: |
      #    python show-account-values.py

      #- name: Deploy GLM contract
      #  run: |
      #    cd l2
      #    ./build.sh
      #    # Load private key from .env file
      #    source .env
      #    forge script script/DeployTestToken.s.sol --broadcast --rpc-url http://localhost:8545
      #  env:
      #    ARKIV_SQLITE_DATA_DIRECTORY: ./arkiv_data

      # - name: Build and run integration tests
      #   run: |
      #     bun install
      #     bun write_example.ts
#
      # - name: Stop Arkiv node
      #   if: always()
      #   run: |
      #     pkill arkiv
#
      # - name: Check sqlite file
      #   if: always()
      #   run: |
      #     sqlite3 arkiv_data/golem-base.db "PRAGMA wal_checkpoint(TRUNCATE);"
#
      - name: Compress Arkiv logs
        if: always()
        run: |
          tar -cf arkiv-logs.tar.gz *.log rollup.json genesis.json deploy-config

      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: arkiv-data
          path: arkiv-logs.tar.gz
