name: Internal test

on:
  push:
  workflow_dispatch:

jobs:
  integration:
    name: Integration internal test
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        run: |
          pip install eth_account

      # - name: Get foundry cli
      #   run: |
      #     curl -sL https://github.com/foundry-rs/foundry/releases/download/v1.5.1/foundry_v1.5.1_linux_amd64.tar.gz | tar -xz
      #     ./forge --version
      #     ./chisel --version
      #     ./cast --version
      #     ./anvil --version

      - name: Get Op Geth
        run: |
          curl -sL https://github.com/salad-x-golem/arkiv-setup/releases/download/v0.0.0/binaries.tar.xz | tar -xJ
          ./geth version
          ./golembase --help

      - name: Run geth node
        run: |
          python -u keys.py
          ./start_geth.sh
        env:
          GETH_SQLITE_DATA_DIRECTORY: ./geth_data

      - name: Show balance of main account
        run: |
          ./show_balance.sh

      - name: Stop geth node
        if: always()
        run: |
          pkill geth

      - name: Check sqlite file
        if: always()
        run: |
          cd gethdata
          sqlite3 golem-base.db "PRAGMA wal_checkpoint(TRUNCATE);"

      - name: Compress geth logs
        if: always()
        run: |
          tar -cf geth-logs.tar.gz geth_data

      - uses: actions/upload-artifact@v5
        with:
          name: geth-data
          path: geth-logs.tar.gz
