name: Spawn Arkiv L2

on:
  workflow_dispatch:
    inputs:
      timeout_minutes:
        description: "Timeout for jobs"
        required: true
        default: "5"
      workers:
        description: "Workers"
        required: false
        default: "[\"zeus\"]"
      test-length:
        description: "Test length in seconds"
        required: true
        default: "60"
      test-scenario:
        description: "Test scenario to run"
        required: true
        default: "dc_write_only"

jobs:
  integration:
    name: Integration internal test
    timeout-minutes: ${{ fromJSON(inputs.timeout_minutes) }}
    # Use the matrix variable here
    runs-on: ${{ matrix.runner }}

    strategy:
      # If one runner fails, the others will still finish their tests
      fail-fast: false
      matrix:
        runner: ${{ fromJSON(inputs.workers) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set test name
        id: test-name
        run: |
          TEST_NAME=$(python name-gen.py)
          echo "val=$TEST_NAME" >> $GITHUB_OUTPUT
          echo "$TEST_NAME"
          curl -H POST ${TRACKER_BACKEND_URL}/test/new -H "Content-Type: application/json" -d '{"name":"'"$TEST_NAME"'"}'
          python notify-test-start.py \
            --name ${TEST_NAME} \
            --parameters \
              testLength=${{ fromJSON(inputs.test-length) }} \
              runsOn=${{ matrix.runner }} \
              testScenario=${{ inputs.test-scenario }}

        env:
          TRACKER_BACKEND_URL: ${{ secrets.TRACKER_BACKEND_URL }}
      # Already installed on custom runners
      #- name: Install bun
      #  uses: oven-sh/setup-bun@v2

      # Already installed on custom runners
      #- name: Get foundry cli
      #  run: |
      #    set -x
      #    curl -sL https://github.com/foundry-rs/foundry/releases/download/v1.5.1/foundry_v1.5.1_linux_amd64.tar.gz | tar -xz
      #    sudo mv forge cast anvil chisel /usr/local/bin/
      #    forge --version
      #    chisel --version
      #    cast --version
      #    anvil --version


      - name: Install javascript dependencies in background
        run: |
          bun install&

      - name: Setup test
        run: |
          (git clone https://github.com/arkiv-network/tests \
            && (cd tests && git checkout feature/data-center-case-for-l3-stress) \
            && (cd tests/stress-tests && poetry install))

      - name: Notify test server about test start
        if: always()
        run: |
          TEST_NAME=${{ steps.test-name.outputs.val }}
          curl -H POST ${TRACKER_BACKEND_URL}/test/start -H "Content-Type: application/json" -d '{"name":"'"$TEST_NAME"'"}'
        env:
          TRACKER_BACKEND_URL: ${{ secrets.TRACKER_BACKEND_URL }}

      - name: Start test
        run: |
          # notify the test server
          TEST_NAME=${{ steps.test-name.outputs.val }}
          curl -H POST ${TRACKER_BACKEND_URL}/test/start -H "Content-Type: application/json" -d '{"name":"'"$TEST_NAME"'"}'

          cd tests/stress-tests
          # Todo fix test returning error
          poetry run locust -f stress/l3/dc_write_only.py --headless -u 20 -r 1000 -t ${{ fromJSON(inputs.test-length) }} --print-stats --html "test_report_{u}_{r}_{t}.html" || true
        env:
          MNEMONIC: "parent picture garment parrot churn record stadium pill rocket craft fish fiscal clip virus view diary replace wealth extra kitten door enforce piece nut"
          TRACKER_BACKEND_URL: ${{ secrets.TRACKER_BACKEND_URL }}

      - name: Notify test server about test finish
        if: always()
        run: |
          TEST_NAME=${{ steps.test-name.outputs.val }}
          curl -H POST ${TRACKER_BACKEND_URL}/test/finish -H "Content-Type: application/json" -d '{"name":"'"$TEST_NAME"'"}'
        env:
          TRACKER_BACKEND_URL: ${{ secrets.TRACKER_BACKEND_URL }}

      - name: Move test log into test-log.html
        if: always()
        run: |
          mv tests/stress-tests/*.html locust.html

      - name: Upload test report
        if: always()
        run: |
          TEST_NAME=${{ steps.test-name.outputs.val }}
          curl -X POST -F "file=@locust.html" ${TRACKER_BACKEND_URL}/test/${TEST_NAME}/upload/file
        env:
          TRACKER_BACKEND_URL: ${{ secrets.TRACKER_BACKEND_URL }}
