name: Spawn workers

on:
  workflow_dispatch:
    inputs:
      timeout_minutes:
        description: "Timeout for jobs"
        required: true
        default: "5"
      workers:
        description: "Workers"
        required: false
        default: "[\"luna\"]"

jobs:
  integration:
    name: Integration internal test
    timeout-minutes: ${{ fromJSON(inputs.timeout_minutes) }}
    # Use the matrix variable here
    runs-on: salad-prov

    strategy:
      # If one runner fails, the others will still finish their tests
      fail-fast: false
      matrix:
        no: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clone tests
        run: |
          git clone https://github.com/Arkiv-Network/tests.git
          (cd tests && git checkout scx1332/new-deploy)

      - name: Prepare poetry
        run: |
          apt-get install python3-poetry -y
          cd tests
          poetry install

      - name: Run worker
        run: |
          cd tests/stress-tests
          poetry run locust -f stress/l3/locustfile.py --worker --master-host locust.arkiv-global.net --master-port 5557 --class-picker
        env:
          MNEMONIC: "parent picture garment parrot churn record stadium pill rocket craft fish fiscal clip virus view diary replace wealth extra kitten door enforce piece nut"
          INSTANCE_INDEX: ${{ matrix.no }}
          BLOCK_EXPIRATION_TIME_SEC: 120

